@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Outfit:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#000000] text-white font-sans antialiased selection:bg-brand-orange/30 selection:text-white;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
  }
  
  h1, h2, h3, h4, h5, h6, .font-outfit {
    font-family: 'Outfit', sans-serif;
  }
}

@layer utilities {
  .pb-safe {
    padding-bottom: env(safe-area-inset-bottom);
  }
}

/* Custom Scrollbar for a premium feel */
::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  @apply bg-[#18181B] rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-800;
}
